<%= form_with( :url => memberships_path, local: true) do |form| %>
<% if current_user.present?%>
  <%= form.hidden_field :user_id , value: current_user.id %>      
  <%= form.hidden_field :start_date, value: Date.today %>
  <%= form.hidden_field :master_subscription_id, value: @user.master_subscriptions_id %>
  <%= form.hidden_field :end_date, value: Date.today + 2.months %>
  <%= form.hidden_field :supplier_id, value: @user.id %>
  <%= form.hidden_field :quantity_provided, value: 'MasterSubscription.first.quantity_offered' %>
  <%= form.hidden_field :quantity_left, value: '3' %>
<%end%>
<div class="font-wt fpd font-size cen">SUBSCRIPTIONS<i class="fa fa-handshake-o"></i>
</div>
<div class="fpd txt-al">Memberships valid for 2 Months</div>
<div class="fpd txt-al">
  Click the Button to buy the Subscription<i class="fa fa-hand-o-down"></i>
</div>
<% if @user.master_subscriptions_id == 1%>
<!--   <div class="txt-al fdp" style="margin-top: 5px;">STANDARD</div> -->
  <div class="actions">
  <%= form.submit 'STANDARD', class: "member" %>
</div>
<%elsif @user.master_subscriptions_id == 2%>
 <!--  <div class="txt-al fdp" style="margin-top: 5px;">PREMIUM</div> -->
  <div class="actions">
  <%= form.submit 'PREMIUM', class: "member" %>
</div>
<% else %>
  <div class="txt-al1 fdp" style="margin-top: 5px;">No Subscription..</div>
<%end%>

<% end %>
