<%= nested_form_for current_user, :url => menu_create_path, method: "POST", html: {multipart: true} do |f| %>

<p><%= image_tag current_user.image.url(:medium), class:"img-responsive aut" %></p>
  <%= f.fields_for :menus do |menu_form| %>
  <div class="container">
  	<div class="row">
  		
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<%= menu_form.label :Category %>
	<% options = options_from_collection_for_select(@category, 'id', 'category') %>
		<%= menu_form.select :master_category_id, options %>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<%= menu_form.label :Meal %>
    <% options = options_from_collection_for_select(@meal, 'id', 'meals_type') %>
		<%= menu_form.select :master_meal_id, options %>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<%= menu_form.label :Day %>
   <% options = options_from_collection_for_select(@day, 'id', 'days') %>
		<%= menu_form.select :master_day_id, options %>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<%= menu_form.label :Price %>
    <%= menu_form.number_field :price, min: 35 , max:150, step: 5, value: 50 %>
</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<%= menu_form.label :Max_Quantity %>
	<%= menu_form.number_field :max_quantity, min:10 , max:50, step: 2, value: 20	 %>
	</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-2">
	<%= menu_form.label :Menu %></div>
	<div class="col-lg-10">
    <%= menu_form.text_field :menu %></div>
</div>
</div>
</div>
</div>
  <% end %>

    <p class="text-al"><%= f.link_to_add "Add Menu Here", :menus %></p>
    <div class="text-al">
    <input type="submit" name="commit" value="Submit" data-disable-with="Submit"></div>
<% end %>