<%= nested_form_for current_user, :url => menu_create_path, method: "POST" do |f| %>


  <%= f.fields_for :menus do |menu_form| %>
    <%= menu_form.text_field :master_meal_id %>
    <%= menu_form.text_field :master_category_id %>
    <%= menu_form.text_field :master_day_id %>
    <%= menu_form.text_field :price %>
    <%= menu_form.text_field :menu %>
  <% end %>
    <p><%= f.link_to_add "Add a task", :menus %></p>
    <%= f.submit "Submit"  %>
<% end %>