<div class="b row mar pdng">
	<div class=" col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<img src="/assets/1211.png" class="ic">
	</div>
	<div class=" col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
</div>	
<div class="b row mar pdng">
	<div class=" col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top: 100px;">
		<%= nested_form_for current_user, :url => menu_create_path, method: "POST", html: {multipart: true} do |f| %>
		<div class="container-fluid pdng m">
		<%= f.fields_for :menus do |menu_form| %>
		<div class="row mar pdng" style="padding-top: 100px!important;">
			<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<%= menu_form.label :Category, class: "wei" %>
			</div>
			<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-8">
				<% options = options_from_collection_for_select(@category, 'id', 'category', :selected => menu_form.object.master_category_id) %>
				<%= menu_form.select :master_category_id, options,{
				},:class=>"select-2-category",:include_blank => true  %>
			</div>
			<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-4">
				<%= menu_form.label :Meal, class: "wei" %>
			</div>
			<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-8">
				<% options = options_from_collection_for_select(@meal, 'id', 'meals_type', :selected => menu_form.object.master_meal_id) %>
				<%= menu_form.select :master_meal_id, options,{
				},:class=>"select-2-category",:include_blank => true %>	</div>
			<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-4">	
				<%= menu_form.label :Day, class: "wei" %>
			</div>
			<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-8">
				<% options = options_from_collection_for_select(@day, 'id', 'days', :selected => menu_form.object.master_day_id) %>
				<%= menu_form.select :master_day_id, options,{
				},:class=>"select-2-category",:include_blank => true %>
			</div>
		</div>  
		<br> 				
		<div class="row mar" style="padding-left: 15px!important">
			<%= menu_form.label :Menu, class: "wei" %>
     	</div>
     	<div class="row mar"  style="padding-left: 15px!important">
			<%= menu_form.text_area :menu, :required =>true %>
		</div>
		<br>
		<div class="row mar pdng">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= menu_form.label :Price , class: "wei" %>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
    			<%= menu_form.number_field :price, min: 35 , max:150, step: 5, placeholder: 35, required:true %>
   			</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
  				<%= menu_form.label :Max_Quantity, class: "wei" %>
  			</div>
  			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= menu_form.number_field :max_quantity, min:10 , max:50, step: 2, placeholder: 10,required:true %>
			</div>
		</div>
		<br>
		<div class="row mar wei" style="padding-left: 16px!important"> Do you want to Delete? <%= menu_form.check_box '_destroy'%>
		</div>
		<br>
		<%end%>
			<div class="row mar pdng">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-nested"> <%= f.link_to_add "Add Menu Here", :menus %><i class="glyphicon glyphicon-menu-down mar-l"></i>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-button">
    				<input class="member" type="submit" name="commit" value="Submit" data-disable-with="Submit" style="margin: 0!important;">
    			</div>
    		</div>
		</div>
		<% end %>
	</div>
<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_flat',
    radioClass: 'iradio_flat'
    });
    $('.select-2-category').select2({
    placeholder: "Select"

  });

});
	$(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  console.log(field);
  // it's a jQuery object already! Now you can find date input
  var selField = field.find('.select-2-category');
 
  // and activate datepicker on it
  selField.select2();
  // chckField.iCheck();
})

// 	$(document).ready(function() {
// $(".select-2-category").select2({
//   placeholder: 'Select an option...',
//   // theme: "flat",
//   // allowClear: true,
// });
// });
</script>
