<div  id=rmeals>
  <% @users.each do |user| %>
    <%if user.master_role_id == 2 %>	
      
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-30" >
          <div class="thumbnail thumbs mar pdng">
            <%= link_to (image_tag user.image.url(:disp), class: "img-responsive"),user %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 0;">
                <div> <%= link_to user.name,user,class: "txtt" %></div>
                <div class="txtt1"> 
                  <% user.menus.map(&:menu).uniq.each do |me|%> 
                  <%= me%>
                  <%end%>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0;">
                <div><%= link_to 'BOOK NOW',user, :class=>"cd-popup-trigger"%></div>
              </div>
            </div>
          </div>
        </div>
     
    <%end%>
  <% end%>
</div>


<!-- <div style="background-color: red;">	
<div class="col-sm-4" style="color: white">	
 <%= @meal %>
</div>
</div> -->