 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div>
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <img src="/assets/1.png" title="Tiffindian"  alt="Tiffindian" />
            <h1>TiffIndian</h1>
            <h2 class="white-color">Tiffin Services In Chandigarh</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>
</div>

<div class="selection">
    <% if current_user.present?%>
  <div class="row mar padding">
   
    <div class="col-lg-3 col-sm-3" style="text-align: center;">
<!-- Date: <input type="text" id="datepicker"> -->
<%= form_with(model: @user, local: true) do |f| %>
<%= f.label :Date%>
 <%= f.text_field :Date, class:"datepicker" %>
  <%end%>
</div>
<div class="col-lg-3 col-sm-3" style="text-align: center;">
     <%= collection_radio_buttons(:menu, :master_meal_id, @meals, :id , :meals_type) do |b|%>
     <% b.label(:"data-value" => b.value) { b.radio_button(class:"radio_box") + b.text }%>
     <%end%>
    </div>
  
<div class="col-lg-2 col-sm-2" style="text-align: center;">
   <%= collection_radio_buttons(:menu, :master_category_id, @category, :id , :category) do |b|%>
    <% b.label(:"data-value" => b.value) { b.radio_button(class:"radio_box radio_box1") + b.text } %>
    <%end%>
  </div>
  <div class="col-lg-2 col-sm-2" style="text-align: center;">
   <%= number_field_tag 'quantity','1', min: 1, max: 50, step: 1%>
  </div>

</div>
  <!-- <h3 style="text-align:center;">Parallax Demo</h3> -->
  <!-- <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante 1augue etiam maecenas, porta porttitor placerat leo.</p> -->
  <%end%>
</div>

<div class="bgimg-2">
  <div class="row mar padng">
    <%= render partial: '/users/meals'%>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
 
   <h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if signed_in? %>
        <td>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </td>
        <% end %>
        <td>  <%= link_to('Login', new_user_session_path)  %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Supplier Sign_up', new_supplier_signup_path %>


</div>




 
 <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );


      $('.radio_box').on('change',function(){
        var a = $(this).val();
        alert(a);
        var b = $(".radio_box1").val();
         alert(b);
        $.ajax({
        dataType: "script", 
        type: "GET",
        url: '/users/meals',
        data: {meal_id : a, category_id : b }
       });
      });
   


      //   $(document).on('click', function(){
      //   var meal = $(this).attr("meal_id")
      //   $.ajax({
      //   dataType: "script", 
      //   type: "GET",
      //   url: '/meals/' + meal + '/edit',
      // // var comment = $("div").attr("comment_id")
      // // $("div").acomment: " + comment )
      // });
      // });

  </script>

 <!-- <script type="text/javascript">
  

//  $(window).scroll(function() {
//    if ($(this).scrollTop() > 100){
//      $('navbar-brand').addClass("");
//       $('navbar-brand').removeClass("on");
//    } else {
//       $('nav').removeClass("on");
//    }
// });


 
 </script>
 -->
<%= link_to 'User Sign_up', new_user_registration_path %>

