<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div>
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <img src="/assets/1.png" title="Tiffindian"  alt="Tiffindian" />
            <h1>TiffIndian</h1>
            <h2 class="white-color">Tiffin Services In Chandigarh</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>
</div>

<div class="row mar pdng">
    <% if current_user.present?%>
  <div class="selection">
   <div class="overlay2">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
<!-- Date: <input type="text" id="datepicker"> -->
<!-- <label for="Date"> Date</label> -->

 <i class="glyphicon glyphicon-calendar cal" style="color: white;"></i><input class="datepicker" type="text" name="Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DD/MM/YY'" placeholder="DD/MM/YY " > 
 </div>
<div id="rad">
  <%= render partial: '/users/radiomeal'%>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 iradio" style="text-align: center;">
   <%= collection_radio_buttons(:menu, :master_category_id, @category, :id , :category) do |b|%>
    <% b.label(:"data-value" => b.value) { b.radio_button(class:"radio_box radio_box1") + b.text } %>
    <%end%>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12" style="text-align: center; colo">
   <%= number_field_tag 'quantity','1', min: 1, max: 50, step: 1%>
  </div>

</div>
</div>
   <%end%>
</div>

<div id="wt">
  <div class="row mar pdng">
   <div class=" col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng" style="padding-top: 20px!important;">
     <img class="img-responsive" src="/assets/f11.png">
    </div> 
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Ghar Ka Khana</div>
    </div> 
    <div class="col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng">
     <img class="img-responsive" src="/assets/f22.png">
   </div>
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Healthy Food</div>
    </div>  
   <div class="col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng" style="padding-top: 20px!important;">
     <img class="img-responsive" src="/assets/f33.png">
   </div> 
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Amazing Variety</div>
    </div> 
  </div>
   <div class="row mar pdng">
   <div class="col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng">
     <img class="img-responsive" src="/assets/f44.png">
    </div> 
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Ghar Ka Khana</div>
    </div> 
    <div class="col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng">
     <img class="img-responsive" src="/assets/f55.png">
   </div>
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Healthy Food</div>
    </div>  
   <div class="col-lg-2 col-col-sm-2 col-md-2 col-xs-5  mar pdng" style="padding-top: 10px!important;">
     <img class="img-responsive" src="/assets/f66.png">
   </div> 
    <div class="col-sm-4 mar pdng col-md-2 col-xs-7">
    <div class="txt">Amazing Variety</div>
    </div> 
  </div>
</div>



<div class="bgimg-2">
  <!-- <div class="overlay1"> -->
  <div class="row mar pdng">
    <%= render partial: '/users/meals'%>
  </div>
<!-- </div> -->
</div>


<!-- 
<div class="bgimg-3">
  <div class="overlay1">
    
  </div> -->


<!-- <div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div> -->

<!-- <div class="bgimg-1">
 
   <h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if signed_in? %>
        <td>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </td>
        <% end %>
        <td>  <%= link_to('Login', new_user_session_path)  %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Supplier Sign_up', new_supplier_signup_path %>


</div> -->



 
 <script>
 $('.datepicker').datepicker({
    minDate: 0,
    maxDate: '+1M',
    showAnim: 'slideDown',
    dateFormat: 'dd-mm-yy',
    hideIfNoPrevNext: true 
})
 .change(dateChanged)
    .on('changeDate', dateChanged);

function dateChanged(ev) {
   var dt = $(this).val();
  
   // var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
   // var s = time.split(':');
   // var seconds = (+s[0]) * 60 * 60 + (+s[1]) * 60 + (+s[2]);
   // var c =  $(".radio_box2:checked").val(); 
   // alert(dt);
    $.ajax({
        dataType: "script", 
        type: "GET",
        url: '/users/radiomeal',
        data: {date : dt}
       });
 }

      
      $('.radio_box').on('ifToggled',function(){
        var a =  $(".radio_box2:checked").val();
        alert(a);
        var b = $(".radio_box1:checked").val();
        alert(b);
        $.ajax({
        dataType: "script", 
        type: "GET",
        url: '/users/meals',
        data: {meal_id : a, category_id : b }
       });
      });
 </script>

 <!-- <script type="text/javascript">
  

//  $(window).scroll(function() {
//    if ($(this).scrollTop() > 100){
//      $('navbar-brand').addClass("");
//       $('navbar-brand').removeClass("on");
//    } else {
//       $('nav').removeClass("on");
//    }
// });


 
 </script>
 --><!-- 
<%= link_to 'User Sign_up', new_user_registration_path %>
 -->
