<!-- <p id="notice"><%= notice %></p> -->
<div class="container-fluid mar pdng">
	<div class="row mar pdng">
		<div class="col-lg-4 col-md-4 hidden-sm hidden-xs pdng">
			<%= image_tag @users.image.url(:bg), class: "center-block img-responsive"  %>
		</div>
		<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<h3 style="font-weight: bold"><%= @users.name %></h3>
			<%= @user.contact_no%><br>
			<%= @user.email%>
			<br>
			<br>
			<div class="row">
			<div class="col-lg-6 col-md-6">
			 Veg MENU	
			</div>	
			<div class="col-lg-6 col-md-6">
			 Non-Veg MENU	
			</div>	
			</div>
			<div class="row">
				<% @user.menus.each do |me|%>
					<% if me.master_category_id == 1%> 
						<div class="col-lg-6 col-md-6">
			 				<%= me.master_day.days%>   
             				<%= me.master_meal.meals_type%>
             				<%= me.menu%>
             			</div>
             		<% elsif me.master_category_id == 2%>
             			<div class="col-lg-6 col-sm-6">
             			    <%= me.master_day.days%>
             				<%= me.master_meal.meals_type%>
             				<%= me.menu%>
             			</div>
             		<%end%>
            	<%end%>
            </div>	
    	</div>
    	<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-6">
    		<% if @user.master_subscriptions_id == 1%>
    			STANDARD
    			<%= check_box("user", "master_subscriptions_id",{class: 'chck'}, "1","0")%>
    		<%elsif @user.master_subscriptions_id == 2%>
    			PREMIUM
    			<%= check_box("user", "master_subscriptions_id",{class: 'chck'}, "2","0")%>
    		<%end%>
    	</div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_flat',
    radioClass: 'iradio_flat'
    });
  // $('.chck').removeAttr('checked');
  $('input').iCheck('uncheck');
  $('.chck').on('ifToggled',function(){
        var c =  $(".chck:checked").val();
        var user_id = <%= current_user.id%>
        alert(c);
        $.ajax({
        dataType: "script", 
        type: "GET",
        url: '/users/' + user_id +'',
        data: {subscription_id : c}
       });
    });
  });
	

       
</script>		
	<!-- 

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
