
<div class="container pad">
    <div class="pad z-i col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <img src="/assets/tiii.jpg" class="img-responsive top">
    </div>

  <div class="pad hei col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="lo-form">
      <span class="log-form-title">Account Login</span>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => 'new_sessions'}) do |f| %>

   <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>  
  
    <div class="pad col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "ik", :id => "email" %>
  </div>

    <div class="pad col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "ik", :id => "password" %>
  </div>

<div class="pad aut col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <% end -%></div>
  <div class="actions" >
    <%= f.submit "Sign In", class: "sig" %>
  </div>
<% end %>
<div class="pad col-lg-6 col-md-6 col-sm-6 col-xs-8">
<a onclick="document.getElementById('id01')" class="up" href="/users/password/new">Forgot your password?</a>
</div>
  <div class="pad col-lg-6 col-md-6 col-sm-6 col-xs-4">
<%= link_to "Sign up", new_registration_path(resource_name), class: "down" %>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#new_sessions').validate({

    });
    $( "#email" ).rules( "add", {
    required: true,
  messages: {
    required: "*Email is mandatory"
  }
  });
    $( "#password" ).rules( "add", {
  required: true,
  messages: {
    required: "*Password is required",
  
  }
  });
  });
</script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>