 <!DOCTYPE html>
<html>
  <head>
    <title>Indian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Dosis|Lato:300" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
   
  </head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <body class="mar" id="page-top" data-spy="scroll" data-target="navbar">
  <div class="navi">
     <nav id="menu" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
      <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="/"><img src="/assets/1.png" class="logo-img1" title="Tiffindian"  alt="Tiffindian" /><img src=" /assets/1.png" class="logo-img2" title="Tiffindian"  alt="Tiffindian" /></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#wt" class="page-scroll">Why Tiffindian?</a></li>
      <% if !current_user.present?%>
        <li><a href= "/users/sign_up" class="page-scroll">Sign Up</a></li>
        <li><a href="/users/sign_in" class="page-scroll">Login</a></li>
        <% else %>
        <li><a href= "/users/sign_up" class="page-scroll">My Memberships</a></li>
         <div class="dropdown"><%="#{current_user.email}" %>
         <div class="dropdown-content">
          <a href="  /users/edit">My Account</a>
          <a href="#">My Orders</a>
          <a data-method="delete" href="/users/sign_out">Logout</a>
          </div>
          </div> 
      <% end %>

      </ul>
    </div>
    <!-- /.navbar-collapse --> 
    
</nav>
</div>
<!--   	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
 -->
 <div class="wrapper">
    <%= yield %>
</div>



<footer  class="foo">
  <div class="row mar pdng" style="margin-bottom: 30px!important;">
  <div class=" col-md-4 col-sm-4 col-xs-12" style="text-align: center;">
    <div class="ftr"> About Us</div>
    <div class="ftr1">SCO-369, Top Floor, Sector 8<br> Panchkula, Haryana 134109
</div>
   <!--  <a href= "/" class="fooo">ABOUT US
    <img src="/assets/1.png"></a> -->
  </div>
  <div class=" col-md-4 col-sm-4 col-xs-12" style="text-align: center;">
    <div><a href= "/users/supplier_signup" class="ftr">Register As a Supplier</div>
      <div><i class="glyphicon glyphicon-facebook"></i>
          <i class="fa fa-twitter "></i>
          <i class="fa fa-instagram"></i></div>
       <!--  <a href= "/users/supplier_signup" class="fooo">Supplier Sign_Up
          <img src="/assets/f1.png"></a> -->
  </div>
  <div class=" col-md-4 col-sm-4 col-xs-12" style="text-align: center;">
    <div class="ftr"> Contact Us</div>
    <div class="ftr1">Phone:+91 172 4026255<br> Email: info@poplify.com</div>
    <!--  <a href= "/" class="fooo">CONTACT US
      <img style="transform: scaleX(-1);" src="/assets/f3.png"></a> -->
  </div>
  </div>
   <div class="gallery" >
    <div class="row mar pdng">   
     <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img class="img-responsive" id="i1" src="/assets/g1.png">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g12.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g2.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g11.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g3.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g10.jpg">     
    </div> 
     <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img class="img-responsive" id="i1" src="/assets/g4.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g9.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g5.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g8.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g6.jpg">       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pdng">
     <img  class="img-responsive" id="i1" src="/assets/g7.jpg">      
    </div>   
  </div>
</div>
</footer> 



  </body>
</html>


<script>
   $(window).scroll(function() {
   if ($(this).scrollTop() >  2){
      $('nav').addClass("on");
   } else {
      $('nav').removeClass("on");
   }
});

  $(document).ready(function() {
       $(window).bind("turbolinks:load", function(){
              var wn = $(window).height();
              var ft = $('.foo').height();
              var h = $('.navi').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
            });
      });
            window.onresize = resize;
function resize() {
   var wn = $(window).height();
              var ft = $('.foo').height();
              var h = $('.navi').height();
              var calculate = wn - ft - h;
              $(".wrapper").css("min-height",calculate);
}





</script>